.sub-title {
    font-style: italic;
    font-variant: small-caps;
    font-size: smaller;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    border: 1px solid red;
    margin-top: 5px;

}
