.sub-title {
    font-style: italic;
    font-variant: small-caps;
    font-size: smaller;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    margin-top: 5px;
    max-height: 70px;
}

img.emoji {
    display: inline !important;
    margin: 0 !important;

}

div.alert {
    color: black;
    border-radius: 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-family: 'PT Serif', serif;
}


div.alert b {
    font-weight: bolder;
    font-variant-caps: small-caps;
}

div.alert .content {
    font-size: 0.9rem;
    font-family: 'PT Serif', serif;
}

div.alert .content code {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.0rem;
}


div.alert-warning {
    background-color: crimson;
    font:100;
}

div.alert.alert-info {
    background-color: khaki;
}

div.alert.alert-note {
    background-color:deepskyblue;
}
