.sub-title {
    font-style: italic;
    font-variant: small-caps;
    font-size: smaller;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    margin-top: 5px;
    max-height: 70px;
}
