{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock%}
{% block nav_active_blog %} active{% endblock %}
{% block nav_span_blog %}
<span class="sr-only">
    (current)
</span>
{% endblock %}
{% block content %}
    <div class="container readable">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>
    <div class="intro">{{ page.intro }}</div>
    <hr />
    <p>{% for tag in page.tags.all %}
    <a href="{% pageurl page %}?tag={{tag}}">
        <span class="badge badge-pill badge-primary">{{tag}}</span>
    </a>
    {% endfor %}</p>
    {{ page.body|richtext }}
    </div>
{% endblock  %}
