<!doctype html>
<html>
<head>
  {% include head.html %}
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171589823-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171589823-1');
    </script>
</head>
<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      {{ content }}
    </div>
  </div>

{%- include footer.html -%}
</body>
</html>
